{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="timeperiod">
  <head>
    <meta charset="utf-8">
    <title>Timeperiod</title>
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css"> -->
    <link rel="stylesheet" href="{% static 'timeperiod/libs/angular_material/0.10.0/angular-material.min.css' %}">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"> -->
    <link rel="stylesheet" href="{% static 'timeperiod/app.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>

  <div ng-controller="OptionsCtrl as options">
  <div layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z5" md-component-id="left">
      <md-card layout="column" layout-align="center center" ng-show="options.user">
      <h1>
        [[options.user.username]]
      </h1>
      <md-button ng-click="options.logout()">Logout</md-button>
      </md-card>
      <md-card layout="column" layout-align="center center" ng-hide="options.user">
          <form name="loginForm">
            <md-input-container>
              <label>Username</label>
              <input ng-model="options.username" name="username" required autocapitalize="off" maxlength="100" autocorrect="off">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input type="password" ng-model="options.password" name="password" required autocapitalize="off" maxlength="100" autocorrect="off">
            </md-input-container>
            <md-button type="submit" ng-click="options.login()">Login</md-button>
          </form>
      </md-card>
    </md-sidenav>
  <div ng-controller="ActivitiesCtrl as activities" layout-fill layout="column" ng-init="options.activities = activities">

    <md-toolbar layout="row">
      <md-button aria-label="Options" ng-click="activities.toggleSidenavbar()">
        <md-icon md-svg-src="{% static 'timeperiod/mdi/all/ic_reorder_24px.svg' %}"></md-icon>
      </md-button>

      <h3 class="md-toolbar-tools">Activities</h3>
      <span flex></span>
      <md-button aria-label="New activity" ng-click="activities.new()" ng-if="options.user">
        <md-icon md-svg-src="{% static 'timeperiod/mdi/content/svg/production/ic_add_24px.svg' %}"></md-icon>
      </md-button>
    </md-toolbar>
    <md-content flex style="height: 100%;">
      <md-list  ng-if="options.user">
        <div ng-repeat="activity in activities.list">

          <!-- Activity item summary -->
          <md-card>
            <md-list-item id="[[activity.$$hashKey]]" class="md-2-line" layout="row" layout-align="space-between center">
              <div layout="row">

                <md-button class="md-primary" aria-label="Edit activity" ng-click="activities.edit(activity)">
                  <md-icon ng-hide="activity.editing" md-svg-src="{% static 'timeperiod/mdi/navigation/svg/production/ic_arrow_drop_down_24px.svg' %}"></md-icon>
                  <span ng-show="activity.editing">Save</span>
                </md-button>
                
                <div class="md-list-item-text">
                  <h3>[[ activity.name ]]</h3>
                  <p>Periods: [[ activity.periods.length ]] <span ng-show="activity.running">Running...</span></p>
                </div>

              </div>
              <md-button class="md-fab" aria-label="Run activity" ng-click="activities.toggleRunning(activity)">
                <md-icon md-svg-src="[[activities.getAVImage(activity)]]" ></md-icon>
              </md-button>
          </md-list-item>

          <!-- Activity item edition -->
          <md-card ng-if="activity.editing" class="fade" layout="column" layout-align="space-around center" layout-margin>
            <md-input-container>
              <label>Activity name</label>
              <input ng-model="activity.name">
            </md-input-container>

            <!-- Period list -->
            <md-card ng-if="activity.periods.length" flex layout="column">
              <md-list>
                <md-subheader>Periods</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-repeat="period_href in activity.periods">
                  <period href="period_href"></period>
                </md-list-item>
              </md-list>
            </md-card>
          </md-card>
        </md-card>


      </div>
      </md-list>
    </md-content>
  </div>
</div>
  </div>
    

<!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.js"></script>
 -->
    <!-- Angular Material Dependencies -->
    <script type="text/javascript" src="{% static 'timeperiod/libs/angularjs/1.3.15/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'timeperiod/libs/angularjs/1.3.15/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'timeperiod/libs/angularjs/1.3.15/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'timeperiod/libs/angularjs/1.3.15/angular-aria.js' %}"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script type="text/javascript" src="{% static 'timeperiod/libs/angular_material/0.10.0/angular-material.js' %}"></script>


    <script type="text/javascript" src="{% static 'timeperiod/app.js' %}"></script>

  </body>
 </html>